
a{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a:active{
  text-decoration: none;
}

a:link{
  color: #6E2500;
}

a:hover {
  font-weight: bold;
  color: #ff0000;
}

body{
  background-color: #ffc2a2;
}

footer{
  background-color: #ffab80;
  border-color: #421600;
  border-top: 2px;
  border-bottom: 2px;
  color: #000000;
  padding: 1.5%;
}

header{
  background-color: #ffab80;
  border-color: #421600;
  border-top: 2px;
  border-bottom: 2px;
  color: #000000;
  padding: 2.5%;
}

hr{
  border-color: #6e2500;
}

h1, h2, h5{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.jumbotron{
  background-color: #ffab80;
}

nav{
  background-color: #ffab80;
  border-color: #421600;
  border-top: 2px;
  border-bottom: 2px;
  color: #000000;
  border-radius: 4px;
  height: auto;
  padding-bottom: 12px;
  padding-top: 12px;
  width: auto;
}

nav .btn{
    background-color: #dc8051;
    text-align: center;
}

p{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table{
  border-color: black;
  background-color: #dc8051;
}
.noJava {
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 3px solid black;
  margin-bottom:10px;
}
#carousel {
  text-align:center;

}
